{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar">
        <ul class="it">
            <li><a href="/">Home</a></li>
            <li><a href="#homeworkss">HomeWorks</a></li>
            <li>Contact</li>
            <li class="logoo">Homework</li>
        </ul>
    </nav>
</header>
<section class="hello">
    <div class="thep">
        Welcome back..!
    </div>
    <div class="btns">
        <a class="view hbtn" href="#homeworkss">View homework</a>
        <a class="upload hbtn" href="/homework_upload/">Upload homework</a>
    </div>
</section>
<section class="hwork" id="homeworkss">
<div class="row row-cols-1 row-cols-md-4 g-4">
{% for homework in homework %}
  <div class="col">
    <div class="card">
      <a href="{% url 'home:homework' homework.id  %}"><img src="{{ homework.image.url }}" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ homework.title }}</h5>
        <p class="card-text descri">{{ homework.desc }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</section>
{% endblock content %}